CompileFlags:
  Compiler:
    cl
  Add: [
    /nologo,
    /Zi,
    /MD,
    /EHsc,
    /std:c++17,
    /utf-8,
    /I.,
    /Iimgui,
    /Iimgui/backends,
    /IC:/tools/opencv/build/include,
    /D,
    UNICODE,
    /D,
    _UNICODE,
    *.cpp,
    imgui/backends/imgui_impl_opengl3.cpp,
    imgui/backends/imgui_impl_win32.cpp,
    imgui/imgui*.cpp,
    /Febuild/example.exe,
    /Fobuild/,
    /link,
    /LIBPATH:C:/tools/opencv/build/x64/vc16/lib,
    /LIBPATH:C:/tools/opencv/build/x64/vc16/bin,
    opengl32.lib,
    opencv_world4100.lib,
  ]
