CompileFlags: 
  Compiler: 
    cl 
  Add: [ 
    /Zi, 
    /MT, 
    /EHsc, 
    /std:c++17, 
    /utf-8, 
    /Iimgui, 
    /Iimgui\backends, 
    /IC:\tools\opencv\build\include, 
    /D, 
    UNICODE, 
    /D, 
    _UNICODE, 
    app.cpp, 
    image_texture.cpp, 
    main.cpp, 
    imgui\backends\imgui_impl_opengl3.cpp, 
    imgui\backends\imgui_impl_win32.cpp, 
    imgui\imgui.cpp, 
    imgui\imgui_demo.cpp, 
    imgui\imgui_draw.cpp, 
    imgui\imgui_tables.cpp, 
    imgui\imgui_widgets.cpp, 
    /Febuild/example.exe, 
    /Fobuild/, 
    /link, 
    /LIBPATH:C:\tools\opencv\build\x64\vc16\lib, 
    /LIBPATH:C:\tools\opencv\build\x64\vc16\bin, 
    opengl32.lib, 
    opencv_world4100.lib, 
  ] 
